*{
    list-style-type: none;
}

main section h1{
    text-align: center;
    margin: 10vh 0;
}
main section div ul{
    background-color: #eee;
    margin-bottom: 0;
    padding: 2vh 12px 1vh 32px;
}
main section div ul:nth-of-type(even){
    background-color: aliceblue;
}
main section div ul:first-of-type{
    background-color: #0d6efd;
    padding-top: 0;
}
main section div ul:first-of-type li, main section div ul:first-of-type form li{
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
    padding: 3vh 12px;
}
.newTask{
    width: 30%;
    margin: 0 auto;
}
.newTask>div, .newTask>form>div{
   margin-bottom: 2vh;
}
.done{
    color: green;
    font-weight: bold;
}
.crossOut{
    text-decoration: line-through;
}
.note{
    margin-top: 5vh;
}
@media (max-width: 996px) {
    .newTask{
        width: 70%;
    }
}